<!DOCTYPE html>
<html>
<head lang="es">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/tutoria.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Crear reserva</title>
    {% load app_filters %}
    {% load dajaxice_templatetags %}
    {% dajaxice_js_import%}
</head>
<body>
<div class="container">
    <div class="col-lg-12 tituloLogin text-center">
        <img src="/static/img/logo2.png"/>
    </div>
    <div class="col-md-5 col-md-offset-3">
        <h2>Tutor&iacute;a</h2>
        <select id="dia" class="form-control" name="dia_semana"
                onchange="Dajaxice.tutorias.sayHello(escribe,{'data':{
                                                                        'dia':$('#dia option:selected').val(),
                                                                        'profesor':{{profesor_id}},
                                                                        'alumno':{{request.user.id }}
                                                                        }})">
            <option>Seleccionar d&iacute;a</option>
            {% for dia in lista_dias %}
            <option value="{{dia|date:'d-m-Y'}}">{{dia|date:"d-m-Y - l"}}</option>
            {% endfor %}
        </select>

        <div id="oculto" style="display:none;">
            <select id="horas" class="form-control" name="horas">

            </select>
        </div>
    </div>

    <div class="col-md-offset-10 col-md-2">
        <a href="{% url 'miPanel' %}">Volver</a> |
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>
<script>
    function escribe(data){
        $('#oculto').show();
        alert(data);
        //REALLY?!
        var horas = data.split(',');
        alert(horas);
    }
</script>
<!-- /container -->
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>

</html>