<!DOCTYPE html>
<html>
<head lang="es">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/tutoria.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<div class="container">
    <div class="col-lg-12 tituloLogin text-center">
        <img src="/static/img/logo2.png" />
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% if user.is_superuser %}
                <div class="col-md-5 col-md-offset-3">
                    <h3>Usuarios <span class="badge">{{datos.usuarios}}</span></h3>
                    <a href="{% url 'add_users' %}" class="btn btn-primary btn-xs saltoLinea">A&ntilde;adir usuario</a><br />
                    <a href="{% url 'remove_user' %}">Eliminar usuario</a><br />
                    <hr />
                    <h3>Grados <span class="badge">{{datos.grados}}</span></h3>
                    <a href="{% url 'add_grado' %}" class="btn btn-primary btn-xs saltoLinea">A&ntilde;adir grado</a><br />
                    <a href="{% url 'remove_grado' %}" class="btn btn-primary btn-xs saltoLinea">Eliminar grado</a><br />
                    <hr />
                    <h3>Asignaturas <span class="badge">{{datos.asignaturas}}</span></h3>
                    <a href="{% url 'add_asignatura' %}" class="btn btn-primary btn-xs saltoLinea">A&ntilde;adir asignatura</a><br />
                    <a href="{% url 'remove_asignatura' %}" class="btn btn-primary btn-xs saltoLinea">Eliminar asignatura</a><br />
                </div>
            {% elif user.es_profesor %}
                <a href="{% url 'add_horario' %}"class="btn btn-primary btn-xs saltoLinea">A&ntilde;adir horario</a><br />
                <a href="{% url 'misHorarios' %}"class="btn btn-primary btn-xs saltoLinea">Ver mis horarios</a><br />
            {% else %}

            {% endif %}
        </div>
    </div>

    <div class="col-md-offset-10 col-md-1">
        <a href="{% url 'logout' %}"class="btn btn-danger btn-xs saltoLinea">Logout</a>
    </div>
</div>
<!-- /container -->
<script src="./js/bootstrap.min.js"></script>
</body>
</html>