<!DOCTYPE html>
<html>
<head lang="es">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/tutoria.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<div class="container">
    <div class="col-md-10 col-md-offset-1 tituloLogin text-center">
        <h2>Gesti&oacute;n de Tutor&iacute;as de la Universidad Pablo de Olavide</h2>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% if user.is_superuser %}
                <a href="{% url 'add_users' %}">A&ntilde;adir usuario</a><br />
                <a href="{% url 'add_grado' %}">A&ntilde;adir grado</a><br />
                <a href="{% url 'add_asignatura' %}">A&ntilde;adir asignatura</a><br />
                <a href="{% url 'remove_asignatura' %}">Eliminar asignatura</a><br />
                <a href="{% url 'remove_grado' %}">Eliminar grado</a><br />
            {% elif user.es_profesor %}
                <a href="{% url 'add_horario' %}">A&ntilde;adir horario</a><br />
                <a href="{% url 'misHorarios' %}">Ver mis horarios</a><br />
            {% else %}

            {% endif %}
        </div>
    </div>

    <div class="col-md-offset-10 col-md-1">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>
<!-- /container -->
<script src="./js/bootstrap.min.js"></script>
</body>
</html>