<!DOCTYPE html>
<html>
<head lang="es">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/tutoria.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>A&ntilde;adir Usuario</title>
    {% load app_filters %}
</head>
<body>
<div class="container">
    <div class="col-lg-12 tituloLogin text-center">
        <img src="/static/img/logo2.png"/>
    </div>
    <div class="col-md-5 col-md-offset-3">
        <h2>Mis asignaturas</h2>
        {% for id in profesores.keys %}
            <h3>{{id}}</h3>
        <p>Profesores:</p>
            <ul>
            {% for prof in profesores|get_item:id %}
                <li>{{prof.first_name}} {{prof.last_name}}
                <a href="{% url 'hprofesor' prof.id %}">Ver Horario</a></li>
                <!--{% for horario in prof.horario_set.all %}
                {{codeasig|get_item:id}} {{id}} {{horario.id}} {{horario.hora_inicio}} {{prof.id}}<br />
                {% endfor %}
            -->{% endfor %}
                </ul>
        {% endfor%}
    </div>

    <div class="col-md-offset-10 col-md-2">
        <a href="{% url 'miPanel' %}">Volver</a> |
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>
<!-- /container -->
<script src="./js/bootstrap.min.js"></script>
</body>
</html>